{
	email {$ACME_EMAIL}
	admin off
}

{$POCKETBASE_DOMAIN} {
	encode zstd gzip

	@root path /
	redir @root /_/ 302

	reverse_proxy pocketbase:8090

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}
}

{$JITSI_DOMAIN} {
	reverse_proxy jitsi-web:80
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		-Server
	}
}
